
<div class="container">

    <h3 class="mt-4" style="font-weight: bold; font-size: 40px; padding-top: 30px;">DASHBOARD</h3>
    <P style="padding-bottom: 10px;"><em><%= current_user.email %> </em></P>

    <div class="profile row my-4">

        <div class="row-container" style="margin-top: 60px;">
        <h3 style="margin-bottom: 40px;">Manage My Venues</h3>
        <table class="table table-bordered table-hover table-responsive">
            <thead class="thead-dark">
                <tr class="table-active">
                    <!-- <th></th> -->
                    <th>Venue Name</th>
                    <th>Location</th>
                    <th>Price per hour</th>
                    <th> # </th>
                  </tr>
                </thead>

        <% @venues.each do |venue| %>
    
              <tr>
                <!-- <td class="bg-white"><% if venue.photo.attached? %>
                    <%= cl_image_tag venue.photo.key %>
                  <% else %>
                    <img src="<%= venue.image_url %>">
                  <% end %></td> -->
                <td class="bg-white"> <%= venue.name %>  </th>
                <td class="bg-white">   <%= venue.address %> </td>
                <td class="bg-white"> €<%= venue.price.to_i %> </td>
                <td class="bg-white"> <%= link_to "View", venue_path(venue) %> </td>
                </tr>
        <% end %>
    </table>
    </div>

    <div class="row">
        <div class="row-container" style="margin-top: 60px;">
            <h3 style="margin-bottom: 40px;">Bookings On My Venues</h3>
            <table class="table table-bordered table-hover table-responsive">
                <thead class="thead-dark">
                    <tr class="table-active">
                        <!-- <th></th> -->
                        <th>Venue Name</th>
                        <th>Booked By</th>
                        <th>Booked On</th>
                        <th>Number of Hours</th>
                        <th> Total </th>
                        <th> # </th>
                      </tr>
                    </thead>
    
                    <% current_user.received_bookings.each do |b|%>
                    <% booking_creater = User.find(b.user_id) %>
        
                  <tr>
                    <td class="bg-white"> <%= b.venue.name %>  </td>
                    <td class="bg-white"> <%= booking_creater.email %> </td>
                    <td class="bg-white"> <%= b.date %> </td>
                    <td class="bg-white"> <%= b.hours %> </td>
                    <td class="bg-white"> €<%= b.venue.price.to_i * b.hours  %> </td>
                    <td class="bg-white"> <%= link_to "Delete", booking_path(b), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> </td>
                    </tr>
            <% end %>
        </table>
        </div>
    </div>

    <div class="row">
        <div class="row-container" style="margin-top: 60px;">
            <h3 style="margin-bottom: 40px;">Manage My Bookings</h3>
            <table class="table table-bordered table-hover table-responsive">
                <thead class="thead-dark">
                    <tr class="table-active">
                        <!-- <th></th> -->
                        <th>Venue Name</th>
                        <th>Booked For</th>
                        <th>Number of Hours</th>
                        <th> Total </th>
                        <th> # </th>
                      </tr>
                    </thead>
    
                    <% current_user.bookings.each do |booking| %>
                    
        
                  <tr>
                    <td class="bg-white"> <%= booking.venue.name %>  </td>
                    <td class="bg-white"> <%= booking.date %> </td>
                    <td class="bg-white"> <%= booking.hours %> </td>
                    <td class="bg-white"> €<%= booking.venue.price.to_i * booking.hours  %> </td>
                    <td class="bg-white"> <%= link_to "Delete", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> </td>
                    </tr>
            <% end %>
        </table>
        </div>
    </div>
    
<!--     
    <div class="col-6 p-4">
        
        <div class="row-container">
            <h3 style="margin-bottom: 40px;">Manage Venues</h3>
            <% @venues.each do |venue| %>
            <div class="card-product mb-4">
                <% if venue.photo.attached? %>
                      <%= cl_image_tag venue.photo.key %>
                    <% else %>
                      <img src="<%= venue.image_url %>">
                    <% end %>
                <div class="card-product-infos">
                <h2><%= venue.name %></h2> 
                <div class="location-with-icon">
                    <i class="fa-solid fa-location-dot pb-2" style="color: #fe019a;"></i>
                    <div class ="pt-1"><p> <%= venue.address %> </p> </div>
                </div>
                 <p> <%= venue.description %></p> 
                
                <!-- <div class=" my-2">
                    <%= link_to "View", venue_path(venue) %>
                    <%= link_to "Delete",
                    venue_path(venue),
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                </div>
                </div>
            </div>
            <% end %>
        </div>
    </div> --> 

 


</div>
</div>