<div class="container form-container">
  <h1 class="form-heading">Showcase Your Epic Venue Here!  🎉</h1>
  <%= simple_form_for @venue do |f| %>

    <% if @venue.errors.any? %>
      <div id="error_explanation" class="error-message">
        <p>Oops! Something went wrong!</p>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.input :name, input_html: {class: "rounded-input"}, placeholder: "Enter the name of the venue" %>

      <%= f.input :address,
          input_html: {data: {address_autocomplete_target: "address"}, class: "d-none", placeholder: "Enter the address"},
          wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}, class: "address_input"}
        %>
    </div>

    <div class="form-group">
      <%= f.input :description, as: :text, input_html: {rows: 5, class: "rounded-textarea"}, placeholder: "Describe the venue" %>
      <%= f.input :price, input_html: {class: "rounded-input"}, placeholder: "Enter the price per hour" %>
    </div>

    <div class="form-group">
      <%= f.input :photo, as: :file, label: "Upload Image", input_html: {class: "form-control-file"} %>
    </div>

    <%= f.button :submit, "Edit Venue", class: "btn btn-success" %>
  <% end %>
</div>
